html, body{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center center;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #64b3f4, #c2e59c);
  background: -moz-linear-gradient(top, #64b3f4, #c2e59c);
  background: -o-linear-gradient(top, #64b3f4, #c2e59c);
  background: linear-gradient(to bottom, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}